@model CrbAuth.Web.ViewModels.AddUserViewModel

@{
    ViewBag.Title = "title";
}

<h2>Edit User</h2>


<form asp-controller="Admin" asp-action="EditUser" method="post" class="form-horizontal" role="form">
    <h4>You can change the user details below</h4>
    <hr />
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <div class="col-md-10">
            <input asp-for="UserId" type="hidden" class="form-control" readonly="readonly" />
            <span asp-validation-for="UserId" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="UserName" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="UserName" class="form-control" />
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Email" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="FirstName" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="FirstName" class="form-control" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="MiddleInitial" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="MiddleInitial" class="form-control" />
            <span asp-validation-for="MiddleInitial" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="LastName" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="LastName" class="form-control" />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-primary" value="Save user" />
            <a asp-action="UserManagement" class="btn btn-primary">Cancel</a>
        </div>
    </div>
</form>

@*<h3>Claims for this user</h3>
<ul>
    @foreach (var claim in Model.UserClaims)
    {
        <li>
            @claim
        </li>
    }
</ul>*@


<a asp-action="EditUser" asp-route-userId="@Model.UserId" class="btn btn-primary">Manage claims for this user</a>
